<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList_Design</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" class="background">

        <div class="container">
            <div>
                <h1>Good Morning, Christian!</h1>
                <h5>Data di oggi</h5>
            </div>
            <div class="tasks">
                <div class="row">
                    <input class="input-text" type="text" id="txt" v-model="newTask.taskText" placeholder="Aggiungi una attività">
                    <button @click="AddTask"  class="btn">AGGIUNGI</button>
                </div>
                <ul>
                    <li class="item">
                        <input class="checkbox" type="checkbox"> Sono una attività
                    </li>

                    <li v-for="curTask in tasks" class="item">
                        <input class="checkbox" type="checkbox"> {{ curTask.taskText }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>